[buildout]
parts = python django
develop = .
eggs = django-flatblocks

[python]
recipe = zc.recipe.egg
interpreter = python
eggs = 
    ${buildout:eggs}

[django]
recipe = djangorecipe
version = 1.1
test = flatblocks
project = test_project
settings = settings
eggs = ${buildout:eggs}
